.feedback-correct {
    color: #10b981;
    font-weight: bold;
}
.feedback-incorrect {
    color: #ef4444;
    font-weight: bold;
}
.option:hover {
    background-color: #e5e7eb;
    cursor: pointer;
}
.disabled-option:hover {
    background-color: transparent;
    cursor: not-allowed;
}